<app-page-header [heading]="'Achievements'" [icon]="'fa-table'"></app-page-header>
<ng-template #content let-c="close" let-d="dismiss">
    <div class="modal-header">
        <h4 class="modal-title">Add Achievements</h4>
        <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <form role="form" name="form" (ngSubmit)="f.form.valid && submit()" #f="ngForm" novalidate>
        <div class="modal-body">
            <div class="form-content">


                 
             
                <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !name.valid }">
                    <label for="name">Name </label>
                    <input type="text" name="name" [(ngModel)]="model.name" #name="ngModel" required class="form-control input-underline input-lg" id="name" >
                    <div *ngIf="f.submitted && !name.valid" class="help-block">name is required</div>
                </div>   
                <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !details.valid }">
                    <label for="details">Details </label>
                    <input type="text" name="details" [(ngModel)]="model.details" #details="ngModel" required class="form-control input-underline input-lg" id="details" >
                    <div *ngIf="f.submitted && !details.valid" class="help-block">Details is required</div>
                </div>      
                <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !coin_reward.valid }">
                    <label for="coin_reward">Achievement Reward </label>
                    <input type="text" name="coin_reward" [(ngModel)]="model.coin_reward" #coin_reward="ngModel" required class="form-control input-underline input-lg" id="coin_reward" >
                    <div *ngIf="f.submitted && !coin_reward.valid" class="help-block">Achievement Reward is required</div>
                </div>      
                <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !action_on.valid }">
                    <label for="action_on">Action on </label>
                    <input type="text" name="action_on" [(ngModel)]="model.action_on" #action_on="ngModel" required class="form-control input-underline input-lg" id="action_on" >
                    <div *ngIf="f.submitted && !action_on.valid" class="help-block">Action on is required</div>
                </div>    
                <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !action_count.valid }">
                    <label for="action_count">Action Count </label>
                    <input type="text" name="action_count" [(ngModel)]="model.action_count" #action_count="ngModel" required class="form-control input-underline input-lg" id="action_count" >
                    <div *ngIf="f.submitted && !action_count.valid" class="help-block">Action Count on is required</div>
                </div>                
                
            </div>
        </div>
       <div class="modal-footer">
            <button *ngIf="editIndex == null" [disabled]="loading" class="btn btn-success"><i class="fa fa-save"></i> Save</button>
            <button *ngIf="editIndex != null" [disabled]="loading" class="btn btn-success"><i class="fa fa-save"></i> Update</button>
            <button type="button" class="btn btn-secondary btn-danger" (click)="c('Close click')">Cancel</button>
        </div>
    </form>
</ng-template>


<div class="row">
    <div class="col col-xl-12 col-lg-12">
        <div class="card mb-3">
    
            <div class="card-header">
                <button class="btn btn-primary pull-right" (click)="open(content)"><i class="fa fa-plus"></i> Add Achievement</button>
                 All Achievement List
            </div>
            <div class="card-block table-responsive">
                <table class="table table-hover table-striped">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Name</th>
                            <th>Details</th>
                            <th>Coin Reward</th>
                            <th>Action on</th>
                            <th>Action Count</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor=" let item of pagedItems; let i = index ">
                            <td>{{i+1}}</td>
                            <td>{{item.name}}</td>
                            <td>{{item.details}}</td>
                            <td>{{item.coin_reward}}</td>
                            <td>{{item.action_on}}</td>
                            <td>{{item.action_count}}</td>
                            <td>
                                <div class="btn-group btn-group-sm" role="group">
                                <button type="button" class="btn btn-info btn-secondary" (click)="editAchievement(i, content)"><i class="fa fa-edit"></i></button>
                                 <button type="button" class="btn btn-danger btn-secondary" (click)="deleteAchievement(i)"><i class="fa fa-trash"></i></button>
                                  
                              </div>
                          </td>
                      </tr>

                  </tbody>
              </table>
              <!-- pager -->
              <ul *ngIf="pager.pages && pager.pages.length" class="pagination justify-content-end">
                <li class="page-item" [ngClass]="{disabled:pager.currentPage === 1}">
                    <a class="page-link" (click)="setPage(1)" aria-label="First">
                     <span aria-hidden="true">&laquo;&laquo;</span>
                     <span class="sr-only">First</span>
                 </a>
             </li>
             <li class="page-item" [ngClass]="{disabled:pager.currentPage === 1}">
                <a class="page-link" (click)="setPage(pager.currentPage - 1)" aria-label="Previous">
                    <span aria-hidden="true">&laquo;</span>
                    <span class="sr-only">Previous</span>
                </a>
            </li>
            <li class="page-item" *ngFor="let page of pager.pages" [ngClass]="{active:pager.currentPage === page}">
                <a class="page-link" (click)="setPage(page)">{{page}}</a>
            </li>
            <li class="page-item" [ngClass]="{disabled:pager.currentPage === pager.totalPages}">
                <a class="page-link" (click)="setPage(pager.currentPage + 1)" aria-label="Next">
                    <span aria-hidden="true">&raquo;</span>
                    <span class="sr-only">Next</span>
                </a>
            </li>
            <li class="page-link" class="page-item" [ngClass]="{disabled:pager.currentPage === pager.totalPages}">
                <a class="page-link" (click)="setPage(pager.totalPages)" aria-label="Last">
                    <span aria-hidden="true">&raquo;&raquo;</span>
                    <span class="sr-only">Last</span>
                </a>
            </li>
        </ul>
    </div>
</div>
</div>
</div>